.verdana100FFFFFFt{
font-family:Verdana;font-size:13px;color:#000000;text-decoration:none;
}
.verdana1880FFFFFFtib{
font-family:Verdana;font-size:24px;color:#800000;font-weight:bold;font-style:italic;text-decoration:none;
}
.verdana24C0FFFFFFti{
font-family:Verdana;font-size:32px;color:#C00000;font-style:italic;text-decoration:none;
}
.verdana16FFFFFFFFFFFFtbu{
font-family:Verdana;font-size:21px;color:#FFFFFF;font-weight:bold;text-decoration:underline;
}
.verdana16FFFFFFFFFFFFt{
font-family:Verdana;font-size:21px;color:#FFFFFF;text-decoration:none;
}

